---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link href="/cockpit/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>Arcanex Cockpit</title>
  </head>
  <body>
    <!-- Klasszikus Decap bundle (nem ütközik a projekt React verziójával) -->
    <script src="https://unpkg.com/decap-cms@3.8.3/dist/decap-cms.js"></script>
  </body>
</html>