---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import { Button } from "@/components/ui/button";
import { getEntry } from "astro:content";

// betöltjük a home bejegyzést a "pages" kollekcióból
const home = await getEntry("pages", "home");

// a render() EREDMÉNYÉBŐL kinyerjük a Content komponenst
const { Content } = await home.render();
---
<Layout title={home.data.title}>
  <Welcome />

  <section class="my-8 rounded-2xl border bg-white p-6 shadow">
    <Content />
  </section>

  <div class="mt-6">
    <Button client:load>Shadcn Button</Button>
  </div>
</Layout>